
html {
  position: relative;
  height: 100%;
}

body {
  /*position: relative;*/
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  height: 100%;
}

#player-section {
  float:left;
  width: 20%;
}

#player {
  text-align: center;
}

#main-content {
  width: 70%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 15px;
  margin: 0 auto;
}
